@use "../../partials/mixins.scss" as m;
@use "../../partials/variables.scss" as v;

.cardDisplay {
  height: 100%;
  margin-top: 1.5rem;
  text-align: center;
  gap: 1rem;
  width: 100%;

  @include m.displayFlex(column, center, center, nowrap);
  
  @include m.md-screen {
    @include m.displayFlex(row, center, flex-start, nowrap);
  }
  
}

.sections {
  @include m.displayFlex(column, flex-start, flex-start, nowrap);
  gap: 0.5rem;
  padding: 1.5rem;
  border-radius: v.$borderRadius;
  background-color: white;
}

.modal {
  position: relative;
  gap: 0.5rem;
  padding: 2rem;
  border-radius: v.$borderRadius;
  border: 1px rgba(0, 0, 0, 0.8) solid;
  box-shadow: 4px 4px 10px v.$dim-gray;
}

.modal_close {
  @include m.button;
  background-color: v.$blackMain;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    background-color: v.$blackHover;
  }
}