@use "../../partials/mixins.scss" as m;
@use "../../partials/variables.scss" as v;

.categoryForm {
  @include m.displayFlex(column, center, center, nowrap);
  gap: 0.5rem;
  width: 300px;
  height: 200px;
  border: 1px red solid;
}

.error_text {
  color: rgb(185, 9, 9);
}