// Media Query Values
$sm: 570px;
$md: 770px;
$lg: 1000px;
$xl: 1200px;
$xxl: 1400px;

// Colour Palette
$dim-gray: rgba(108, 117, 107, 1);
$cadet-gray: rgba(147, 172, 181, 1);
$jordy-blue: rgba(150, 197, 247, 1);
$uranian-blue: rgba(169, 211, 255, 1);
$ghost-white: rgba(242, 244, 255, 1);

// Button colours
$redMain: #ff0000;
$redHover: #c72f2f;
$greenMain: #008000;
$greenHover: #51ca51;
$blackMain: #222020;
$blackHover: #5a5a5a;

// Fonts
$logo: Playwrite AR;
$headings: montserrat, Helvetica, sans-serif;
$subText: Open Sans, sans-serif;

// border radius
$borderRadius: 20px;

// shadow box
$shadowBox: 2px 2px 4px $dim-gray;