// Media Query Values
$sm: 570px;
$md: 770px;
$lg: 1000px;
$xl: 1200px;
$xxl: 1400px;

// Colour Palette
$hookersGreen: #5A7D7C;
$lavanderWeb:#DADFF7;
$gunmetal:#232C33;
$powderBlue:#A0C1D1;
$frenchGray:#B5B2C2;
$linkHovered:#4c9bc2;

// Fonts
$logo: Playwrite AR;
$headings: montserrat, Helvetica, sans-serif;
$subText: Open Sans, sans-serif;

// Image border radius
$borderRadius: 20px;