@use "./partials/variables.scss" as v;
@use "./partials/mixins.scss" as m;

.app {
  @include m.displayFlex(column, flex-start, flex-start, nowrap);
  width: 100vw;
  height: 100vh;
  
  margin: 0 auto;
  background-color: v.$ghost-white;
}
