@use "../../partials/mixins.scss" as m;
@use "../../partials/variables.scss" as v;

.toDoListForm {
  @include m.displayFlex(column, center, center, nowrap);
  gap: 1rem;
  width: 400px;
  height: 300px;
  font-size: larger;
  border-radius: v.$borderRadius;
  box-shadow: 2px 2px 4px rgba($color: v.$dim-gray, $alpha: 0.8);
}

.field {
  @include m.displayFlex(row, flex-start, flex-start, nowrap);
  gap: 0.5rem;
}

.form_Btn {
  @include m.button;
}

.error_text {
  color: rgb(185, 9, 9);
}
